<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- main -->
<div class="grid-container margin-top-xl">
  <div class="grid-row">
    <!-- alert message -->
    <div class="grid-xs-12">
      <div class="alert text-white text-center margin-bottom-lg padding-lg" ng-class="message.type" ng-show="message.status" role="alert">
        {{message.text}}
        <span class="pull-right pointer" ng-click="closeAlert()"><span aria-hidden="true">&times;</span></span>
      </div>
    </div>
    <!-- menu -->
    <ng-include src="'views/inc_sidebar.html'"></ng-include>
    <!-- content -->
    <div class="grid-md-9 grid-xs-12">
      <div class="bg-white box-shadow padding-top-md padding-right-xl padding-bottom-md padding-left-xl">
        <div class="grid-row">
          <div class="grid-xs-12">
            <h2 class="text-lg text-default clear-margin">Meu evento</h2>
          </div>
        </div>
        <form name="event.form">
          <div class="grid-row margin-top-xl margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default">Nome:</label>
              <input id="name" class="field text-field text-field-lg" type="text" ng-model="event.name" autofocus required>
            </div>
          </div>
          <div class="grid-row margin-top-xl margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default">Site:</label>
              <input id="slug" class="field text-field text-field-lg" type="text" ng-model="event.slug" required>
              <a ng-show="event.slug" class="text-xs text-secondary" href="http://presentes.matheusemarcela.com/{{event.slug}}" target="_blank">http://presentes.matheusemarcela.com/{{event.slug}}</a>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-6">
              <label class="text-sm text-default">Data:</label>
              <input id="date" class="field text-field text-field-lg" type="text" mask="31/12/2099" ng-model="event.date" required>
            </div>
            <div class="grid-xs-6">
              <label class="text-sm text-default">Hora:</label>
              <input id="time" class="field text-field text-field-lg" type="text" mask="23:59" ng-model="event.time">
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default">Local:</label>
              <input id="details" class="field text-field text-field-lg" type="text" ng-model="event.place">
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-6">
              <label class="text-sm text-default">Cidade:</label>
              <input id="abv" class="field text-field text-field-lg" type="text" ng-model="event.city" required>
            </div>
            <div class="grid-xs-6">
              <label class="text-sm text-default">Estado:</label>
              <input id="ibu" class="field text-field text-field-lg" type="text" ng-model="event.state" required>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default block margin-bottom-xs">Imagem de capa:</label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-lg">
              <label>
                <img ng-src="/uploads/cover-default1.jpg" alt="Capa padrão 1" class="img">
                <input type="radio" ng-model="event.image" value="cover-default1.jpg"> Capa padrão 1
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-lg">
              <label>
                <img ng-src="/uploads/cover-default2.jpg" alt="Capa padrão 2" class="img">
                <input type="radio" ng-model="event.image" value="cover-default2.jpg"> Capa padrão 2
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-lg">
              <label>
                <img ng-src="/uploads/cover-default3.jpg" alt="Capa padrão 3" class="img">
                <input type="radio" ng-model="event.image" value="cover-default3.jpg"> Capa padrão 3
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-lg">
              <label>
                <img ng-src="/uploads/cover-default4.jpg" alt="Capa padrão 4" class="img">
                <input type="radio" ng-model="event.image" value="cover-default4.jpg"> Capa padrão 4
              </label>
            </div>
            <div class="grid-xs-12 overflow-hidden">
              <label class="block margin-top-sm">
                Capa personalizada:
                <!-- <img ng-show="fileUploaded" ngf-thumbnail="'/uploads/' + event.image" class="img"> -->
                <input type="file" class="text-xs" ngf-select ng-model="event.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" ng-Change="fileChanged()">
                <i ng-show="event.form.image.$error.maxSize">Arquivo muito grande {{event.image.size / 1000000|number:1}}MB: max 5MB</i>
              </label>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-lg-2 grid-lg-offset-10 grid-md-3 grid-md-offset-9  grid-sm-4 grid-sm-offset-8  grid-xs-6 grid-xs-offset-6">
              <button class="btn-lg btn-primary" ng-click="editEvent()">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
