<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- banner -->
<div class="banner-home grid-container-fluid">
  <div class="grid-container">
    <div class="grid-row">
      <div class="banner-home-content grid-xs-12 align-center">
        <h1 class="text-xl text-white margin-top-xl">Uma solução completa para a sua lista de presentes.</h1>
        <h2 class="text-lg text-white margin-top-xl">Clique e monte a sua. <span class="underline">É grátis!</span></h2>
        <a href="/cadastrar" class="btn btn-primary clear-width inline-block padding-x-xl padding-y-sm margin-top-xl clear-decoration">Criar minha lista</a>
        <a href="#como-funciona" class="btn btn-link text-white margin-bottom-xl absolute position-bottom">Saiba como funciona &#9662;</a>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div id="como-funciona" class="grid-container margin-top-xl">
  <div class="grid-row">
    <div class="grid-md-4 grid-sm-12 grid-xs-12 padding-xl align-center">
      <img src="/img/icon-presents.png" alt="Escolha seus presentes" class="img margin-bottom-xs">
      <h3 class="text-md text-primary">Lista de presentes</h3>
      <p class="text-sm text-default">Móveis, eletrônicos, utilidades domésticas e muito mais</p>
    </div>
    <div class="grid-md-4 grid-sm-6 grid-xs-12 padding-xl align-center">
      <img src="/img/icon-donation.png" alt="Vaquinha virtual" class="img">
      <h3 class="text-md text-primary">Vaquinha virtual</h3>
      <p class="text-sm text-default">Aquela ajudinha pra você ganhar uma graninha extra</p>
    </div>
    <div class="grid-md-4 grid-sm-6 grid-xs-12 padding-xl align-center">
      <img src="/img/icon-confirmation.png" alt="Escolha seus presentes" class="img margin-bottom-md">
      <h3 class="text-md text-primary">Confirmação de presença (RSVP)</h3>
      <p class="text-sm text-default">Controle e gerencie facilmente sua lista de convidados</p>
    </div>
  </div>
  <div class="grid-row margin-top-xl">
    <div class="grid-lg-4 grid-lg-offset-4 grid-sm-6 grid-sm-offset-3 grid-xs-10 grid-xs-offset-1">
      <a href="/login" class="clear-decoration">
        <buttom type="buttom" class="btn-lg btn-link bd-primary bd-sm bd-solid">Gerenciar Minha Lista</buttom>
      </a>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
