<header id="header" class="grid-container-fluid bg-primary box-shadow">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-xs-12">
        <h1 class="text-lg align-center">
          <a href="/" class="text-white clear-decoration"><img src="/img/icon-lista-de-presentes.png" class="align-top margin-right-sm" alt="LISTA DE PRESENTES">LISTA DE PRESENTES</a>
        </h1>
        <small class="text-xs text-white absolute position-top position-right margin-top-xl margin-right-lg">Olá {{user.name}}! <a href="/logout" class="text-white">(Sair)</a></small>
      </div>
    </div>
  </div>
</header>
