<!-- main -->
<div class="grid-container">
  <div class="grid-row">
    <!-- content -->
    <div class="grid-lg-4 grid-lg-offset-4 grid-sm-6 grid-sm-offset-3 grid-xs-12 margin-top-xl">
      <div class="bg-white box-shadow margin-top-xl margin-bottom-sm">
        <div class="login-header bg-primary padding-top-sm padding-bottom-sm padding-left-xl padding-right-xl">
          <a href="/" class="text-lg text-white align-center block padding-md clear-decoration">
            <img src="img/icon-lista-de-presentes-white.png" class="align-top margin-right-sm" alt="LISTA DE PRESENTES">
            LOGIN
          </a>
        </div>
        <div class="login-content padding-xl">
          <div class="bg-light text-red text-center margin-bottom-lg padding-sm" ng-class="message.type" ng-show="message.status" role="alert">
            {{message.text}}
            <span class="pull-right pointer" ng-click="closeAlert()"><span aria-hidden="true">&times;</span></span>
          </div>
          <form class="login-form" name="form" ng-submit="submit()" novalidate>
            <div class="margin-bottom-lg" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
              <label class="text-xs text-default" for="email">E-mail</label>
              <input ng-model="user.email" type="email" class="field text-field text-field-lg" placeholder="Digite seu e-mail" id="email" name="email" autofocus="true" autocomplete="off" required>
              <!-- <input ng-model="user.email" type="email" class="field text-field text-field-lg" placeholder="Digite seu e-mail" id="email" name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]/" autofocus="true" autocomplete="off" required> -->
              <p ng-show="form.email.$invalid && !form.email.$pristine" class="absolute margin-top-xs text-xxs text-red">Digite um e-mail válido.</p>
            </div>
            <div class="margin-bottom-lg" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
              <label class="text-xs text-default" for="password">Senha</label>
              <input ng-model="user.password" type="password" class="field text-field text-field-lg" placeholder="Digite sua senha" id="password" name="password" required>
              <span ng-show="form.password.$invalid && !form.password.$pristine" class="absolute margin-top-xs text-xxs text-red">Digite uma senha.</span>
            </div>
            <input type="submit" ng-disabled="form.$invalid" class="btn-lg btn-primary" value="ENTRAR">
            <a href="/cadastrar" class="text-xs text-primary block align-center margin-top-xs">Cadastrar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
