<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- main -->
<div class="grid-container margin-top-xl">
  <div class="grid-row">
    <!-- alert message -->
    <div class="grid-xs-12">
      <div class="alert text-white text-center margin-bottom-lg padding-lg" ng-class="message.type" ng-show="message.status" role="alert">
        {{message.text}}
        <span class="pull-right pointer" ng-click="closeAlert()"><span aria-hidden="true">&times;</span></span>
      </div>
    </div>
    <!-- menu -->
    <ng-include src="'views/inc_sidebar.html'"></ng-include>
    <!-- content -->
    <div class="grid-md-9 grid-xs-12">
      <div class="bg-white box-shadow padding-top-md padding-right-xl padding-bottom-md padding-left-xl">
        <div class="grid-row">
          <div class="grid-xs-12">
            <h2 class="text-lg text-default clear-margin">Minha lista de presentes</h2>
          </div>
        </div>
        <div ng-show="myList.length > 0" class="grid-row margin-top-xl">
          <form>
            <div class="grid-xs-12">
              <label for="filter-price" class="text-xs text-default margin-bottom-xs">Procurar produtos:</label>
              <input ng-model="search" ng-model-options='{ debounce: 200 }' type="text" id="search" name="search" class="field text-field-md" placeholder="Digite o nome do produto...">
            </div>
          </form>
        </div>
        <div class="grid-row margin-top-xl">
          <ul vertilize-container class="list list-horizontal">
            <li ng-repeat="item in myList | filter: search" class="list-item grid-xl-3 grid-lg-4 grid-sm-6 grid-xs-12 margin-bottom-lg">
              <div class="bg-white bd-xs bd-solid bd-gray bd-radius-md padding-lg">
                <div class="align-center margin-bottom-sm">
                  <a href="{{item.link}}" target="_blank">
                    <img class="img block" ng-src="{{item.image}}" alt="{{item.name}}" title="{{item.name}}">
                  </a>
                </div>
                <a vertilize class="text-xs text-default block" title="{{item.name}}" href="{{item.link}}" target="_blank">{{item.name}}</a>
                <p class="text-xs text-default margin-top-sm margin-bottom-sm">De: <span class="text-md text-primary bold">R$ {{item.pricemin}}</span></p>
                <p class="text-xs text-default clear-margin">Até: <span class="text-sm text-primary bold">R$ {{item.pricemax}}</span></p>
                <button ng-click="remove(item._id)" class="btn-sm btn-default margin-top-sm">- REMOVER</button>
              </div>
            </li>
          </ul>
          <p ng-show="myList.length == 0" class="text-default text-sm">Nenhum produto foi selecionado...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
