<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- banner -->
<div id="banner" class="grid-container-fluid margin-top-xs">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-xs-12">
        <a href="/{{event.slug}}" class="clear-decoration">
          <img src="/uploads/{{event.image}}" class="img block" alt="{{event.name}}">
          <div class="shadow-banner absolute position-bottom position-left position-right padding-sm margin-left-sm margin-right-sm">
            <h1 class="text-xl text-white align-center clear-margin padding-top-xl">{{event.name}} &hearts; {{event.date | date:'dd/MM/yyyy'}}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="grid-container margin-top-lg">
  <!-- products -->
  <div class="grid-row">
    <div class="grid-xs-12">
      <div class="bg-white box-shadow padding-top-md padding-right-xl padding-bottom-md padding-left-xl">
        <form id="donationForm" name="donation.form" action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-12">
              <h2 class="text-lg text-default clear-margin">Vaquinha</h2>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-xl">
              <label class="inline-block align-center pointer">
                <input type="radio" ng-model="donation.value" value="100.00">
                <img src="/uploads/presente-cafe.jpg" alt="" class="img">
                <span class="text-lg text-default block">R$ 100,00</span>
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-xl">
              <label class="inline-block align-center pointer">
                <input type="radio" ng-model="donation.value" value="150.00">
                <img src="/uploads/presente-jantar.jpg" alt="" class="img">
                <span class="text-lg text-default block">R$ 150,00</span>
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-xl">
              <label class="inline-block align-center pointer">
                <input type="radio" ng-model="donation.value" value="200.00">
                <img src="/uploads/presente-hospedagem.jpg" alt="" class="img">
                <span class="text-lg text-default block">R$ 200,00</span>
              </label>
            </div>
            <div class="grid-md-3 grid-sm-6 grid-xs-12 margin-bottom-xl">
              <label class="inline-block align-center pointer">
                <input type="radio" ng-model="donation.value" value="500.00">
                <img src="/uploads/presente-passagem.jpg" alt="" class="img">
                <span class="text-lg text-default block">R$ 500,00</span>
              </label>
            </div>
          </div>
          <div ng-show="donation.value" class="grid-row margin-bottom-xl">
            <div class="grid-xs-6">
              <label class="text-sm text-default">Nome:</label>
              <input id="name" class="field text-field text-field-lg" type="text" ng-model="donation.name" required>
            </div>
            <div class="grid-xs-6">
              <label class="text-sm text-default">E-mail:</label>
              <input id="name" class="field text-field text-field-lg" type="text" ng-model="donation.email" required>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-md-2 grid-md-offset-10 grid-sm-3 grid-sm-offset-9 grid-xs-6 grid-xs-offset-6">
              <input name="iot" value="button" type="hidden">
              <input name="currency" value="BRL" type="hidden">
              <input name="receiverEmail" value="mxczpiscioneri@gmail.com" type="hidden">
              <input id="reference" name="reference" value="{{event.slug}}" type="hidden">
              <input name="itemId1" value="0001" type="hidden">
              <input name="itemDescription1" value="Ajuda para os noivos Matheus e Marcela" type="hidden">
              <input name="itemAmount1" ng-value="donation.value" type="hidden">
              <input name="itemQuantity1" value="1" type="hidden">
              <input name="itemWeight1" value="1" type="hidden">
              <button class="btn-lg btn-primary" ng-click="saveDonation(donation)">Pagar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
