<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- banner -->
<div id="banner" class="grid-container-fluid margin-top-xs">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-xs-12">
        <a href="/{{event.slug}}" class="clear-decoration">
          <img src="/uploads/{{event.image}}" class="img block" alt="{{event.name}}">
          <div class="shadow-banner absolute position-bottom position-left position-right padding-sm margin-left-sm margin-right-sm">
            <h1 class="text-xl text-white align-center clear-margin padding-top-xl">{{event.name}} &hearts; {{event.date | date:'dd/MM/yyyy'}}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- vaquinha -->
<div ng-show="event.emailPagseguro && event.tokenPagseguro" class="grid-container-fluid margin-top-xl vaquinha padding-xl">
  <div class="grid-row">
    <div class="grid-xs-12">
      <h2 class="text-lg text-white align-center margin-top-lg">Quer contribui para a vaquinha dos noivos?</h2>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-lg-2 grid-lg-offset-5 grid-md-4 grid-md-offset-4 grid-xs-6 grid-xs-offset-3">
      <a href="/{{event.slug}}/vaquinha" class="clear-decoration">
        <buttom type="buttom" class="btn-lg text-white bd-white bd-sm bd-solid">$ AJUDAR $</buttom>
      </a>
    </div>
  </div>
</div>
<!-- toolbar -->
<div class="grid-container margin-top-xl">
  <div class="grid-row">
    <form action="" method="post">
      <div class="grid-lg-3 grid-sm-4 grid-xs-12 margin-bottom-sm">
        <label for="filter-price" class="text-xs text-default margin-bottom-xs">Ordenar por:</label>
        <select name="order" id="order" class="field text-field-lg select">
          <option value="0">Mais popular</option>
          <option value="0">Ainda não comprados</option>
          <option value="1">Menor preço</option>
          <option value="2">Maior preço</option>
          <option value="3">A - Z</option>
          <option value="4">Z - A</option>
        </select>
      </div>
      <div class="grid-lg-6 grid-lg-offset-3 grid-sm-8 grid-xs-12 margin-bottom-sm">
        <label for="filter-price" class="text-xs text-default margin-bottom-xs">Procurar produtos:</label>
        <input type="text" id="search" ng-model="search" class="field text-field-lg" placeholder="Digite o nome do produto...">
      </div>
    </form>
    <div class="grid-xs-12">
      <hr class="bd-bottom-xs bd-bottom-solid bd-lightgray margin-top-xl">
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-xs-12">
      <h2 class="text-md text-default">{{event.products.length}} produtos encontrados</h2>
    </div>
  </div>
</div>
<!-- content -->
<div class="grid-container margin-top-sm">
  <!-- products -->
  <div class="grid-row">
    <ul vertilize-container class="list list-horizontal">
      <li ng-repeat="product in event.products | filter: search" class="list-item grid-lg-3 grid-md-4 grid-sm-6 grid-xs-12 margin-bottom-lg">
        <div class="bg-white bd-radius-md padding-lg box-shadow">
          <div class="align-center">
            <img title="{{product.name}}" class="img margin-bottom-sm" alt="{{product.name}}" src="{{product.image}}">
          </div>
          <a vertilize class="text-sm text-default block" title="{{product.name}}" href="{{product.link}}">{{product.name}}</a>
          <p class="text-xs text-default margin-top-sm margin-bottom-sm">De: <span class="text-lg text-primary bold">R$ {{product.pricemin}}</span></p>
          <p class="text-xs text-default clear-margin">Até: <span class="text-md text-primary bold">R$ {{product.pricemax}}</span></p>
          <p class="text-xs text-darkgray align-center margin-bottom-xs">{{product.bought || 0}} comprados</p>
          <button ng-click="buy(product)" class="btn-lg btn-primary">COMPRAR</button>
        </div>
      </li>
    </ul>
  </div>
  <!-- confirmation -->
  <div class="grid-row margin-top-xl">
    <div class="grid-lg-4 grid-lg-offset-4 grid-sm-6 grid-sm-offset-3 grid-xs-10 grid-xs-offset-1">
      <a href="/{{event.slug}}/confirmacao" class="clear-decoration">
        <buttom type="buttom" class="btn-lg text-secondary bd-secondary bd-sm bd-solid">Confirmar Presença &check;</buttom>
      </a>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
