<!-- header -->
<ng-include src="'views/inc_header.html'"></ng-include>
<!-- banner -->
<div id="banner" class="grid-container-fluid margin-top-xs">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-xs-12">
        <a href="/{{event.slug}}">
          <img src="/uploads/{{event.image}}" class="img block" alt="Matheus e Marcela">
          <div class="shadow-banner absolute position-bottom position-left position-right padding-sm margin-left-sm margin-right-sm">
            <h1 class="text-xl text-white align-center clear-margin padding-top-xl">{{event.name}} &hearts; {{event.date | date:'dd/MM/yyyy'}}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="grid-container margin-top-sm">
  <!-- products -->
  <div class="grid-row">
    <div class="grid-xs-12">
      <div class="bg-white box-shadow padding-top-md padding-right-xl padding-bottom-md padding-left-xl">
        <form name="confirmation.form">
          <div class="grid-row">
            <div class="grid-xs-12">
              <h2 class="text-lg text-default clear-margin">Confirmação de Presença</h2>
            </div>
          </div>
          <div class="grid-row margin-top-xl margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default">Nome:</label>
              <input id="name" class="field text-field text-field-lg" type="text" ng-model="confirmation.name" autofocus required>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-4">
              <label class="text-sm text-default">Confirmar:</label>
              <select ng-model="confirmation.accept" class="field text-field-lg select" required>
                <option ng-selected="true" value="true">Sim</option>
                <option value="false">Não</option>
              </select>
            </div>
            <div class="grid-xs-4">
              <label class="text-sm text-default">Número de adultos:</label>
              <input id="adults" class="field text-field text-field-lg" type="number" ng-model="confirmation.adults" required>
            </div>
            <div class="grid-xs-4">
              <label class="text-sm text-default">Número de crianças:</label>
              <input id="children" class="field text-field text-field-lg" type="number" ng-model="confirmation.children" required>
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-6">
              <label class="text-sm text-default">E-mail:</label>
              <input id="email" class="field text-field text-field-lg" type="email" ng-model="confirmation.email">
            </div>
            <div class="grid-xs-6">
              <label class="text-sm text-default">Telefone:</label>
              <input id="phone" class="field text-field text-field-lg" type="text" ng-model="confirmation.phone">
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-12">
              <label class="text-sm text-default">Mensagem:</label>
              <input id="message" class="field text-field text-field-lg" type="text" ng-model="confirmation.message">
            </div>
          </div>
          <div class="grid-row margin-bottom-xl">
            <div class="grid-xs-2 grid-xs-offset-10">
              <button class="btn-lg btn-primary" ng-click="addConfirmation(confirmation)">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<ng-include src="'views/inc_footer.html'"></ng-include>
