/* Border
  ========================================================================== */


/**
 * Border Color
 */

.bd-default {
  border-color: $color-default !important;
}

.bd-primary {
  border-color: $color-primary !important;
}

.bd-secondary {
  border-color: $color-secondary !important;
}

.bd-white {
  border-color: $color-white !important;
}

.bd-light {
  border-color: $color-light !important;
}

.bd-lightgray {
  border-color: $color-lightgray !important;
}

.bd-gray {
  border-color: $color-gray !important;
}

.bd-darkgray {
  border-color: $color-darkgray !important;
}

.bd-dark {
  border-color: $color-dark !important;
}

.bd-blue {
  border-color: $color-blue !important;
}

.bd-yellow {
  border-color: $color-yellow !important;
}

.bd-red {
  border-color: $color-red !important;
}


/**
 * Border Size
 */

.bd-xl {
  border-width: $border-xl !important;
}

.bd-top-xl {
  border-top-width: $border-xl !important;
}

.bd-right-xl {
  border-right-width: $border-xl !important;
}

.bd-bottom-xl {
  border-bottom-width: $border-xl !important;
}

.bd-left-xl {
  border-left-width: $border-xl !important;
}

.bd-lg {
  border-width: $border-lg !important;
}

.bd-top-lg {
  border-top-width: $border-lg !important;
}

.bd-right-lg {
  border-right-width: $border-lg !important;
}

.bd-bottom-lg {
  border-bottom-width: $border-lg !important;
}

.bd-left-lg {
  border-left-width: $border-lg !important;
}

.bd-md {
  border-width: $border-md !important;
}

.bd-top-md {
  border-top-width: $border-md !important;
}

.bd-right-md {
  border-right-width: $border-md !important;
}

.bd-bottom-md {
  border-bottom-width: $border-md !important;
}

.bd-left-md {
  border-left-width: $border-md !important;
}

.bd-sm {
  border-width: $border-sm !important;
}

.bd-top-sm {
  border-top-width: $border-sm !important;
}

.bd-right-sm {
  border-right-width: $border-sm !important;
}

.bd-bottom-sm {
  border-bottom-width: $border-sm !important;
}

.bd-left-sm {
  border-left-width: $border-sm !important;
}

.bd-xs {
  border-width: $border-xs !important;
}

.bd-top-xs {
  border-top-width: $border-xs !important;
}

.bd-right-xs {
  border-right-width: $border-xs !important;
}

.bd-bottom-xs {
  border-bottom-width: $border-xs !important;
}

.bd-left-xs {
  border-left-width: $border-xs !important;
}


/**
 * Border Style
 */

.bd-solid {
  border-style: solid !important;
}

.bd-top-solid {
  border-top-style: solid !important;
}

.bd-right-solid {
  border-right-style: solid !important;
}

.bd-bottom-solid {
  border-bottom-style: solid !important;
}

.bd-left-solid {
  border-left-style: solid !important;
}

.bd-dashed {
  border-style: dashed !important;
}

.bd-top-dashed {
  border-top-style: dashed !important;
}

.bd-right-dashed {
  border-right-style: dashed !important;
}

.bd-bottom-dashed {
  border-bottom-style: dashed !important;
}

.bd-left-dashed {
  border-left-style: dashed !important;
}

.bd-dotted {
  border-style: dotted !important;
}

.bd-top-dotted {
  border-top-style: dotted !important;
}

.bd-right-dotted {
  border-right-style: dotted !important;
}

.bd-bottom-dotted {
  border-bottom-style: dotted !important;
}

.bd-left-dotted {
  border-left-style: dotted !important;
}


/**
 * Border Radius
 */

.bd-radius-circle {
  @include prefixer("border-radius", 50%);
}

.bd-radius-xl {
  @include prefixer("border-radius", $border-xl);
}

.bd-radius-lg {
  @include prefixer("border-radius", $border-lg);
}

.bd-radius-md {
  @include prefixer("border-radius", $border-md);
}

.bd-radius-sm {
  @include prefixer("border-radius", $border-sm);
}

.bd-radius-xs {
  @include prefixer("border-radius", $border-xs);
}
