//Globals
$em: 16;
$line-height: 1.2em;
//Colors
// $color-default: #666666; //ok
// $color-primary: #F66F66; //ok
// $color-secondary: #C74A50; //ok
// $color-white: #FFFFFF; //ok
// $color-light: #FCFCFC; //ok
// $color-lightgray: #EEEEEE; //ok
// $color-gray: #EEEEEE;
// $color-darkgray: #4A4A4A;
// $color-dark: #3C3C3C;
// $color-blue: #0083CA; //ok
// $color-yellow: #FD9802; //ok
// $color-red: #A94442; //ok
//Colors
$color-default: #666666; //ok
$color-primary: #FF564A; //ok
$color-secondary: #C74A50; //ok
$color-white: #FFFFFF; //ok
$color-light: #FFBEB9; //ok
$color-lightgray: #FCFCFC; //ok
$color-gray: #F2F2F2; //ok
$color-darkgray: #AAAAAA; //#EEEEEE;
$color-dark: #333333; //ok
$color-blue: #0083CA; //ok
$color-green: #2ecc71; //ok
$color-yellow: #FD9802; //ok
$color-red: #A94442; //ok
//Size
$size-xl: 30px;
$size-lg: $size-xl / 1.5;
$size-md: $size-xl / 2;
$size-sm: $size-xl / 3;
$size-xs: $size-xl / 6;
//Size Border
$border-xl: 10px;
$border-lg: $border-xl / 2;
$border-md: $border-xl / 3;
$border-sm: $border-xl / 5;
$border-xs: $border-xl / 10;
//Size Height
$height-xl: 60px;
$height-lg: $height-xl - 10;
$height-md: $height-lg - 10;
$height-sm: $height-md - 10;
$height-xs: $height-sm - 10;
