body {
  font-family: 'Open Sans', sans-serif;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.clear-decoration {
  text-decoration: none;
}

.field {
  outline: none;
}

.shadow-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.vaquinha {
  background: url("../img/vaquinha1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.z-index-xl {
  z-index: 6;
}

.z-index-lg {
  z-index: 5;
}

.z-index-md {
  z-index: 3;
}

.z-index-sm {
  z-index: 0;
}

.z-index-xs {
  z-index: -4;
}

.z-index-xxs {
  z-index: -9;
}

.alert.success {
  background-color: #2ecc71 !important;
}

.alert.error {
  background-color: #FFBEB9 !important;
}

